div {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background: lightgray;
    width: 100%;
    height: 100%;
    
    padding: 0;  
    margin: 0;
}

#sitewrap {
    position: relative;
    width:  100%;
    height: 100%;
    background: lightyellow;
    
    #navbar {
        position: absolute;
        width: 100%;
        height: 60px;
        text-align: center;
        top: 0;
        left: 0;
        background: rgba( 200,100,255,0.8);
        z-index: 100;
    }
    
    #content {
        position: relative;
        width: 100%;
        height: 100%;
        background: lightgreen;
    }
}
